* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Euclid Circular A", Poppins;
}

a:link{
    text-decoration: none;
} 



.conatiner {
}

.background-cool{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
}


.emblem {
    z-index: 0;
    border-radius: 30%;
    transform: rotate(45deg);
}

.emblem.one{
    height: 800px;
    width: 800px;
    position: absolute;
    border-radius: 20%;
    left: -49%;
    top: -10%;
    background: rgba(69, 66, 77, 0.425);
    opacity: 5;
}

.emblem.two{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 150px;
    left: 400px;
    background: rgba(69, 66, 77, 0.98);
}

.emblem.tre{
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 30px;
    right: 450px;
    background: rgba(69, 66, 77, 0.5);
}

@media (min-width: 120rem){
    .conatiner {
        width: 120rem;
        margin: 0 auto;
    }
    
}


@media (min-width: 320px){
    .background-cool{
        width: 320px;
        height: 100vh;
    }
    .emblem.one {
        left: -200%;
        top: -10%;
    }

    .emblem.two {
        display: none;
    }

    .emblem.tre {
        display: none;
    }
}


header {
    position: absolute;
    margin-top: 15px;
    top: 0;
    height: 40px;
    width: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.96);
    
}

header > h3 {
    z-index: 1;
    font-weight: 700;
    font-size: 11px;
    font-style: normal;
    font-family: inherit;
}
header > h3::before{
    content: "";
    position: absolute;
    left: 83px;
    top: 40%;
    border-radius: 30%;
    z-index: -1;
    height: 25px;
    width: 25px;
    background: #8739FA;
    transform: rotate(45deg);
}

.menu {
    width: 80px;
    display: flex;
    position: relative;

}
.menu > a {
    align-items: flex-end;
    color: #F6F6F6;
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    font-family: inherit;
}

.menu > a:nth-child(1){
    margin-left: 80px;
    margin-right: 20px;
}